---
// import { Image } from 'astro:assets'; Artık kullanmıyoruz.
import { getPermalink } from '~/utils/permalinks';
import type { Post } from '~/types';

export interface Props {
  post?: Post; // post'un isteğe bağlı (?) olabileceğini belirtiyoruz
}

const { post } = Astro.props;
---

{
  post && (
    <article class="max-w-md mx-auto md:max-w-none grid gap-6 md:grid-cols-1 group">
      {/* post.permalink'in var olduğunu kontrol ederek link oluşturuyoruz */}
      <a class="relative block" href={post.permalink ? getPermalink(post.permalink) : '#'}>
        {post.image && (
          <div class="relative h-0 pb-[56.25%] overflow-hidden bg-gray-400 dark:bg-slate-700 rounded-md shadow-lg">
            <img
              src={post.image}
              class="absolute inset-0 object-cover w-full h-full mb-6 rounded-md shadow-lg bg-gray-400 dark:bg-slate-700"
              alt={post.title}
              loading="lazy"
              decoding="async"
            />
          </div>
        )}
      </a>
      <div class="mt-2">
        <header>
          <h3 class="text-xl md:text-2xl font-bold leading-tight mb-2 font-heading">
            <a
              class="hover:text-primary dark:hover:text-blue-200 transition ease-in duration-200"
              href={post.permalink ? getPermalink(post.permalink) : '#'}
            >
              {post.title}
            </a>
          </h3>
        </header>
        {post.excerpt && <p class="flex-grow text-muted dark:text-slate-400 text-lg">{post.excerpt}</p>}
      </div>
    </article>
  )
}